/*Estilo Geral*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
body{
    background-color: #000000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0px auto;
}
.flex{
    display: flex;
    
}
.btn-contato button{
    padding: 10px 40px;
    border-radius: 50px;
    background-color: blueviolet;
    border: none;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
h2 span{
    color: aquamarine;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px blueviolet;
    transition: 1.05s;
}

/*Estilo do Corpo*/

header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content:space-between;
}


header nav a{
    color: rgba(240, 248, 255, 0.527);
    text-decoration: none;
    display: inline-block;
}

.btn-contato button{
    padding: 10px 40px;
    border-radius: 50px;
    background-color: blueviolet;
    border: none;
    color: azure;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-contato button:hover, form .btn-enviar input:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px white;
    transition: 1.05s;
}
.btn-contato button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px white;
    transition: 1.05s;
}

header nav .menu-desktop a:hover {
    color: aliceblue;
    transform: scale(1.05);
    transition: 1.05s;
}
header nav .menu-desktop ul{
    
    list-style-type: none;

}
header nav  ul li{
    display: inline-block;
    padding: 0 40px;
}
/*MENU MOBILE*/


.menu-mobile{
    background-color: rgba(0, 0, 0, 0.433);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 70%;
    width: 0%; /*esconder o menu mobile qnd tiver desktop*/
    overflow: hidden; /*garantir q nenhum item fique de fora*/
    transition: .5s;
}

.menu-mobile.abrir-menul{
    width: 70%;
}
.menu-mobile.abrir-menul ~ .overlay-menuh{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile .btn-fechar i{
    color: aquamarine;
    font-size: 30px;
}
.menu-mobile nav  ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: aqua;
    color: #000000;
}

.overlay-menuh{
    background-color: rgba(0, 0, 0, 0.608);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
/*Estilo topo do Site*/

section .topo-do-site{
    padding: 40px 4%;
}
section .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section .txt-topo-site h1{
    color: azure;
    font-size: 42px;
    line-height: 40px;
    
}
section .txt-topo-site p{
    color: azure;
    padding: 30px 0;
    font-size: 18px;
}
section h1 span{
    color: blueviolet;
    font-size: 50px;
}
/*ANIMAÇÃO*/

.topo-do-site img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
.topo-do-site .img-topo-site{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    
    }
    100%{
        top: 30px;
    }
}

/*E s p e c i a l i d a d e s*/

section .especialidades{
    padding: 40px 4%;

}
section .especialidades .flex{
    display: flex;
}
.especialidades .especialidades-box{
    color: #fff;
    
    padding: 45px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    transition: 2s;
    padding-top: px;

}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 5px #fff;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: aquamarine;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* E S T I  L O  S O B R E*/

section.sobre{
    padding: 80px 4%;
}
section .sobre .flex{
    gap: 60px;
}
.sobre .txt-sobre{
    color: #fff;
}
.txt-sobre h2{
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-sociais button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: aquamarine;
    font-size: 23px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*ESTILO DO PORTIFÓLIO*/
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}
.portifolio .flex{
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.421);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}
.img-port:hover{
    background-position: 100% 100%;

}

/*F O R M U L A R I O */
.formulario .titulo{
    margin-top: 40px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 80px;
}
form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: aquamarine;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
}

/*ESTILO DO FOOTER*/
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}
footer .flex{
    justify-content: space-between;
}
footer .line-footer{
    padding: 20px 0;

}
.borda{
    border-top: 2px solid aquamarine;
}
footer .line-footer p i{
    color: blueviolet;
    font-size: 22px;
}
footer .line-footer p a{
    color: #fff;
}

/*RESPONSIVE*/

@media screen and (max-width: 1020px) {
    /*classes gerais*/
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    /*baceçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }
    /*topo do site*/

.topo-do-site .flex{
    gap: 40px;
}
section .txt-topo-site{
    padding: 20px 8%;
}
section .txt-topo-site h1{
    font-size: 32px;
    line-height: 40px;
}
section h1{
    font-size: 30px;
    
}
.topo-do-site .img-topo-site img{
    width: 100%;
}
/*ESPECIALIDADES*/

section .especialidades{
    padding: 40px 8%;
}
.especialidades .titulo{
    font-size: 304x;
    line-height: 34px;
}
/*SOBRE*/

.sobre .txt-sobre{
    padding: 80px 8%;
}
.sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
}
.btn-sociais{
    text-align: center;
}

.img-sobre img{
    width: 100%;
}

/*PORTIFOLIO*/
.portifolio{
    padding: 80px 8%;
}
.img-port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
footer .flex{
    flex-direction: column;
    gap: 30px;
}
footer .line-footer{
    text-align: center;
}
/*menu mobile*/
.btn-abrir-menu i{
    color: aquamarine;
    font-size: 40px;
}
}